Source: hunspell-be
Section: text
Priority: optional
Maintainer: Hleb Valoshka <375gnu@gmail.com>
Build-Depends: debhelper-compat (= 12),
               convert-bdic
Build-Depends-Indep: dictionaries-common-dev (>= 1.10.5)
Standards-Version: 4.4.0
Homepage: https://github.com/mikalai-udodau/spell-be/

Package: hunspell-be
Architecture: all
Depends: dictionaries-common (>= 1.0.0), ${misc:Depends}
Provides: hunspell-dictionary, hunspell-dictionary-be
Suggests: firefox | firefox-esr | thunderbird, libreoffice
Conflicts: openoffice.org (<= 1.0.3-2)
Description: Belarusian dictionary for hunspell and academic orthography
 This package contains Belarusian dictionary for the hunspell
 spell-checker currently supported by LibreOffice and Mozilla.
 .
 This dictionary is for the recent academic orthography.
